<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lahmloon.occupations_isic_code_sdk">
    <application>
        <provider
            android:name=".OccupationsSdk$LibProvider"
            android:authorities="${applicationId}.log.provider"
            android:exported="false"
            tools:node="merge" />
    </application>
</manifest>